@font-face {
    font-family: "Noto Sans";
    src: url("../public/fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Gadugi";
    src: url("../public/fonts/gadugi-normal.ttf");
}
@font-face {
    font-family: "Caveat Brush";
    src: url("../public/fonts/CaveatBrush-Regular.ttf");
}