:root{
    --yellow: #F8CC5D;
    --blue: #18BFFB;
    --green: #8CD943;
    --background-light-gray: #F8F4F9;
    --background-dark-gray: #45565E;
    --text-active: #4EB3E3;
    --text-red: #ED6F82;
    --text-black: #1F343E;
    --text-gray: #6D7A80;
    --text-light-gray: #6D7A80;
    --text-white: #F8F4F9;
    --border-gray: #1F343E;
}