.download{
    min-width: 310px;
    height: 80px;
    padding: 16px 24px;
    border: 1px solid var(--border-gray);
    border-radius: 1rem;
    font-family: Noto Sans;
    color: #fff;

    display: flex;
    align-items: center;

    &_text_container{
        margin-left: 16px;
        >b:last-of-type{
            font-family: Gadugi;
            font-size: 1.25rem;
        }
    }
    img{
        align-self: flex-start;
    }
}