.header{
    background-color: #fff;
    border: 1px solid var(--border-gray);
    
    .content{
        display: flex;
        justify-content: space-between;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            li{
                color: var(--text-black);
                margin: 26px;
                font-size: 1.25rem;
                font-family: Noto Sans;
            }
            li:hover{
                color: var(--blue)
            }
        }
        .menu_wrapper{
            display: none;
        }
    }
}

@media screen and (max-width: 375px){
    .header{
        padding: 0.75rem 0;
        position: relative;
        .content{
            ul{
                flex-direction: column;
                position: absolute;
                background-color: #fff;
                right: -200px;
                li{
                    margin: 8px 0px;
                }
            }
            .menu_wrapper{
                display: flex;
            }
        }
    }
}
    