.header{
    height: 80px;
    background-color: #fff;
    border: 1px solid var(--border-gray);
    .content{
        display: flex;
        justify-content: space-between;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            li{
                color: var(--text-black);
                margin: 26px;
                font-size: 1.25rem;
                font-family: Noto Sans;
            }
            li:hover{
                color: var(--blue)
            }
        }
    }
}
    