.container{
    display: flex;
    flex-direction: column;
    font-family: Noto Sans;
    color: var(--text-black);
    overflow: hidden;
    main{
        padding: 4rem 0;
        background-color: var(--yellow);
        border: 1px solid var(--border-gray);

        display: flex;
        justify-content: center;

        .main_content{
            display: flex;
            gap: 8rem;
            .referral_instructions{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
    section{
        padding: 32px 0;
        background-color: var(--background-dark-gray);
        .download_container{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
        }
        .reviews_chrome{
            display: flex;
            align-items: center;
            padding: 1rem;
            gap: 1rem;
            .stars{
                display: flex;
                gap: 0.25rem;
                .star_wrapper{
                    display: flex;
                    height: 1.25rem;
                    width: 1.25rem;
                    position: relative;
                }
            }
            .stars + div{
                color: white;
                font-size: 1.25rem;
                font-family: Noto Sans;
            }
        }
    }
}

@media screen and (max-width: 375px){
    .container{
        main{
            padding: 2rem 0 3rem 0;
            .main_content{
                flex-direction: column;
                gap: 3rem;
                .referral_instructions{
                    gap: 3rem;
                }
            }
        }
        section{
            padding: 2rem 1rem;
            .download_container{
                flex-direction: column;
            }
            .reviews_chrome{
                .stars{
                    .star_wrapper{
                        height: 1rem;
                        width: 1rem;
                    }
                }
                .stars + div{
                    font-size: 1rem;
                }
            }
        }
        
    }
    
}