.referral{
    width: 552px;
    height: 795px;
    padding: 4rem;
    border: 1px solid var(--border-gray);
    border-radius: 1rem;
    background-color: var(--background-light-gray);

    display: flex;
    flex-direction: column;
    >*{
        width: 100%;
    }
    .referral_title{
        font-size: 3rem;
        font-family: Caveat Brush;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    p{
        font-size: 1.25rem;
        margin: 0 0 2.5rem 0;
    }
    input{
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid var(--border-gray);
        border-radius: 0.5rem;
        font-size: 1.25rem;
    }
    .email_container{
        >*{
            width: 100%;
        }
        .warning{
            margin-bottom: 0.375rem;
            font-size: 0.75rem;
            color: var(--text-red);
            visibility: hidden;
        }
        .warning_visible{
            visibility: visible;
        }
        input{
            text-indent: 2.75rem;
            background-image: url("../public/images/svg/email.svg");
            background-repeat: no-repeat;
            background-position: 1rem;
            transition: text-indent 100ms ease-in-out;
        }
    }
    .reflink_container{
        position: relative;
        .success_container{
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-bottom: 1rem;
            .image_container{
                height: 32px;
                width: 32px;
                display: flex;
                position: relative;
            }
        }
        input{
            width: 100%;
            background-color: white;
            color: var(text-gray);
        }
        button{
            position: absolute;
            right: 0;
            border-radius: 0 0.5rem 0.5rem 0;
        }
    }
    .hide_container{
        display: none;
    }
    // input:focus{
    //     text-indent: 0;
    //     background-image: none;
    // }
    button{
        padding: 1rem;
        text-transform: capitalize;
        color: #fff;
        background-color: var(--blue);
        cursor: pointer;
        border: 1px solid var(--border-gray);
        border-radius: 0.5rem;
        font-size: 1.25rem;
        font-weight: bold;
    }
    .bottom_text{
        color: var(--text-gray);
        margin-top: auto;
    }
}

@media screen and (max-width: 375px){
    .referral{
        width: auto;
        height: 537px;
        padding: 2rem 1rem;
        .referral_title{
            font-weight: normal;
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        p{
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
        input{
            font-size: 1rem;
        }
        button{
            font-size: 1rem;
        }
        .reflink_container{
            .success_container{
                .image_container{
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}